	<div class="navbar navbar-dark bg-black footer">
		<div class="container">
			<p class="madeby">madeby-Ayan</p>
			<p class="copyright">World-NEWS © 2020</p>
		</div>
	</div>
	<!-- BOOTSTRAP JQUERY, JS -->
</body>
</html>