	<div class="navbar navbar-dark bg-black footer">
		<div class="container">
			<p class="madeby">madeby-Ayan</p>
			<p class="copyright">World-NEWS © 2020</p>
		</div>
	</div>
	<script>
		// in the search page add a function to respond to the clicking of cross button
		var lis = document.getElementsByClassName("cross");
		for(var i=0; i<lis.length; i++){
			lis[i].addEventListener("click", function(){
				this.parentElement.classList.add("d-none");
			})
		}
	</script>
</body>
</html>