<body>
    <nav class="navbar bg-black navbar-expand-lg top-nav" id="navbar1">
        <div class="container">
            <a class="navbar-brand m-auto  font-vollkorn brand" href="/"><i class="fas fa-globe"></i> World-NEWS</a>
        </div>
    </nav>