<html>
    <body>
        <ul>
            <% sources.forEach(function(source){ %>
                <li>
                    <%= source.name %>
                </li>
            <% }) %>
        </ul>
    </body>
</html>